<h1>イベント追加</h1>

<%= form_with(model: @event, local: true) do |f| %>
  
  <%= render 'layouts/error_messages', model: f.object %>

  <div class="title">
    <div class="form-tag">タイトル</div>
    <%= f.text_field :title %>
  </div>


  <div class="content">
    <div class="form-tag">内容</div>
    <%= f.text_area :text %>
  </div>

  <div class="time">
    <div class="form-tag">開始時間</div>
    <%= f.datetime_field :start_time, min: Date.current %>
  </div>

  <div class="time">
    <div class="form-tag">終了時間</div>
    <%= f.datetime_field :end_time, min: Date.current %>
  </div>


  <div class="submit">
    <%= f.submit %>
  </div>

<% end %>