<!DOCTYPE html>
<html>
  <head>
    <title>Calendar</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <% if user_signed_in? %>
      <div class="user_nav grid-6">
        <span><%= current_user.name %></span>
      </div>
    <% end %>

  </head>

  <body>
  
  <%= yield %>
  </body>
</html>
